In [0]:
class student: 
  def __init__(self,first_name,last_name,age,class_,section):
    self.first_name  = first_name
    self.last_name  = last_name
    self.age = age 
    self.class_ = class_
    self.section = section

In [0]:
std1 = student('Uttam','Kumar', 26, 12,'A')
std2= student('Mukesh','Kumar', 22, 8, 'B' )

In [76]:
print('Details of student first student  is  first_name  :  {} ,last_name : {}, age: {}, class_ : {}, section : {}'.format(std1.first_name, std1.last_name, std1.age, std1.class_,std1.section))

Details of student first student  is  first_name  :  Uttam ,last_name : Kumar, age: 26, class_ : 12, section : A

In [77]:
print('Details of student second  student is  first_name  :  {} ,last_name : {}, age: {}, class_ : {}, section : {}'.format(std2.first_name, std2.last_name, std2.age, std2.class_,std2.section))

Details of student second  student is  first_name  :  Mukesh ,last_name : Kumar, age: 22, class_ : 8, section : B

**Creating class for DBoperations**

In [0]:
import sqlite3

class dboperation: 

  def __init__(self,dbname):
    self.dbname = dbname

  def createdb(self):
    conn = sqlite3.connect(self.dbname)

  def chkconnection(self):
    conn = sqlite3.connect(self.dbname)
    c = conn.cursor()
    print('connection has been established')
    self.closedbconnection(conn)
    print('connection has closed')

  def createtable(self,tablename):
    conn = sqlite3.connect(self.dbname)
    c= conn.cursor()
    c.execute('CREATE TABLE {tableName} (first_name text, last_name text,age integer,class_ text, section  txt)'.format(tableName=tablename))
    print('table has created')
    self.closedbconnection(conn)

  def insertintotable(self,tablename,listOfvaluesToInsert):
    conn = sqlite3.connect(self.dbname)
    c= conn.cursor()
    conn.execute("INSERT INTO {tableName}  values {value}".format(tableName = tablename,value=valuesToisnert))
    conn.commit()
    print("Values Inserted Successfully!!!")
    self.closedbconnection(conn)
    print("Connection to database closed!!")


  def selectfromtable(self, tablename):
    conn = sqlite3.connect(self.dbname)
    c = conn.cursor()
    c.execute("SELECT *  FROM {table}".format(table=tablename))
    print("values in table : " ,c.fetchall())
    self.closedbconnection(conn)
    print("Connection to database closed!!")
  

  def closedbconnection(self, connection):
    connection.close()

In [79]:
ls

sample_data/

In [0]:
#creating object for db operation
db = dboperation('test1.db')

In [0]:
db.createdb()#creating database

In [82]:
 ls

sample_data/  test1.db

In [83]:
db.chkconnection() #checking database connectivity

connection has been established
connection has closed

In [84]:
db.createtable('std')

table has created

In [0]:
valuesToisnert = ('uttam','kumar',26,10,'A')

In [86]:
db.insertintotable('std',valuesToisnert)

Values Inserted Successfully!!!
Connection to database closed!!

In [87]:
valuesToisnert = ('Mukesh','kumar',22,11,'c')
db.insertintotable('std',valuesToisnert)

Values Inserted Successfully!!!
Connection to database closed!!

In [88]:
db.selectfromtable('std')

values in table :  [('uttam', 'kumar', 26, '10', 'A'), ('Mukesh', 'kumar', 22, '11', 'c')]
Connection to database closed!!