In [0]:
import sqlite3
conn = sqlite3.connect('test1.db')

To use the module, you must first create a Connection object that represents the database. Here the data will be stored in the example.db file:

In [3]:
ls

sample_data/  test1.db

Once you have a Connection, you can create a Cursor object and call its execute() method to perform SQL commands:

In [0]:
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, 
             trans text, 
             symbol text,
            qty real, 
            price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

The data you’ve saved is persistent and is available in subsequent sessions

**sqlite3.connect(database [,timeout ,other optional arguments])**

This API opens a connection to the SQLite database file. You can use ":memory:" to open a database connection to a database that resides in RAM instead of on disk. If database is opened successfully, it returns a connection object.

When a database is accessed by multiple connections, and one of the processes modifies the database, the SQLite database is locked until that transaction is committed. The timeout parameter specifies how long the connection should wait for the lock to go away until raising an exception. The default for the timeout parameter is 5.0 (five seconds).

If the given database name does not exist then this call will create the database. You can specify filename with the required path as well if you want to create a database anywhere else except in the current directory.

In [0]:
conn = sqlite3.connect('test1.db')
c = conn.cursor()

use the DB-API’s parameter substitution. Put ? as a placeholder wherever you want to use a value, and then provide a tuple of values as the second argument to the cursor’s execute() method.

In [6]:
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)# selecting speific item from all items 
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [0]:
#inserting many records into the database

purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]

In [11]:
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

To retrieve data after executing a SELECT statement, you can either treat the cursor as an iterator, call the cursor’s fetchone() method to retrieve a single matching row, or call fetchall() to get a list of the matching rows.

In [12]:
for row in c.execute('SELECT * FROM stocks ORDER BY price'): # iterating data through the for loop 
  print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [0]:
conn.commit()
conn.close()