In [0]:
class Employee: 
  num_of_emps= 0
  raise_amt= 1.04
  def __init__(self, first, last,pay):
    self.first = first 
    self.last = last
    self.email = self.first+'.'+ self.last+'@gmail.com'
    self.pay = pay

    Employee.num_of_emps +=1
  
  def fullname(self):
    return '{} {}'.format(self.first+self.last)
  
  def apply_raise(self): 
    self.pay = int(self.pay*self.raise_amt)
  
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_amt = amount

In [0]:
emp1= Employee('uttam','kumar',50000)
emp2 = Employee('test','user', 60000)

Regular method automatically take instance as first argument and by convention we were recalling as self .

By using class method it it take class as a first argument 
we can do this by using @classmethod as a decorator

In [26]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

1.04
1.04
1.04

In [0]:
Employee.set_raise_amt(1.05)

In [28]:
print(Employee.raise_amt) #incresed class variable to 1.05
print(emp1.raise_amt)
print(emp2.raise_amt)

1.05
1.05
1.05

In [0]:
emp1.set_raise_amt(1.06)# raised class varibale by instance

In [31]:
print(Employee.raise_amt) #incresed class variable to 1.06
print(emp1.raise_amt)
print(emp2.raise_amt)

1.06
1.06
1.06

In [40]:
emp_str_1= 'xyz-abc-7000'   # if this is common we can do more mannual 
first, last , pay = emp_str_1.split('-')
new_emp_1 = Emnployee(first , last , pay)
print(new_emp_1.email)
print(new_emp_1.pay)

xyz.abc@gmail.com
7000

so that we can create constuctor so that it allow pass and string and create employee

In [0]:
class Employee: 
  num_of_emps= 0
  raise_amt= 1.04
  def __init__(self, first, last,pay):
    self.first = first 
    self.last = last
    self.email = self.first+'.'+ self.last+'@gmail.com'
    self.pay = pay

    Employee.num_of_emps +=1
  
  def fullname(self):
    return '{} {}'.format(self.first+self.last)
  
  def apply_raise(self): 
    self.pay = int(self.pay*self.raise_amt)
  
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_amt = amount
  
  @classmethod
  def from_string(cls, emp_str): 
    first, last,pay= emp_str.split('-')
    return cls(first,last,pay)

In [0]:
emp_str_2 = 'test2-user2-5000'
new_emp_2 = Employee.from_string(emp_str_2)

In [47]:
new_emp_2.email, new_emp_2.pay

('test2.user2@gmail.com', '5000')

regular Method : 
reular method pass automatically instance as first argument called self

class method pass automatically class as first argument called cls 


static method pass anything automatically .They have some logical connection with class

In [0]:
class Employee: 
  num_of_emps= 0
  raise_amt= 1.04
  def __init__(self, first, last,pay):
    self.first = first 
    self.last = last
    self.email = self.first+'.'+ self.last+'@gmail.com'
    self.pay = pay

    Employee.num_of_emps +=1
  
  def fullname(self):
    return '{} {}'.format(self.first+self.last)
  
  def apply_raise(self): 
    self.pay = int(self.pay*self.raise_amt)
  
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_amt = amount
  
  @classmethod
  def from_string(cls, emp_str): 
    first, last,pay= emp_str.split('-')
    return cls(first,last,pay)
  
  @staticmethod
  def is_workday(day):
    if day.weekday() ==5  or day.weekday() ==6:
      return False
    return True

In [0]:
import datetime 
my_date = datetime.date(2016,7,10)

In [52]:
print(Employee.is_workday(my_date))

False