In [0]:
class Emp:
  def __init__(self, first, last,pay):
    self.first = first 
    self.last =last 
    self.pay = pay
    self.email = first +'.'+last+"@ofc.com"
  
  def fullname(self):
    return '{} {} '.format(self.first, self.last)
  def apply_raise(self): 
    self.pay = int(self.pay*1.04)

In [0]:
emp1 = Emp('uttam','kumar', 50000)
emp2= Emp('test', 'user', 60000)

In [39]:
print(emp1.pay) # applied raise for emp1
emp1.apply_raise()
print(emp1.pay)

50000
52000

In [0]:
class Emp1:
  raise_amount = 1.04 # class variable
  num_of_emps = 0

  def __init__(self, first, last,pay):
    self.first = first 
    self.last =last 
    self.pay = pay
    self.email = first +'.'+last+"@ofc.com"

    Emp1.num_of_emps += 1
  
  def fullname(self):
    return '{} {} '.format(self.first, self.last)
  def apply_raise(self): 
    self.pay = int(self.pay*self.raise_amount)#used self

In [54]:
print(Emp1.num_of_emps)
emp1 = Emp1('uttam','kumar', 50000)
emp2= Emp1('test', 'user', 60000)
print(Emp1.num_of_emps)  # no_of_emps incremented by 1 evvery time when we initiate object

0
2

In [0]:
emp1.raise_amount= 1.05

In [51]:
print(Emp1.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.04
1.05
1.04

In [45]:
Emp1.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'Emp1' objects>,
              '__doc__': None,
              '__init__': <function __main__.Emp1.__init__>,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Emp1' objects>,
              'apply_raise': <function __main__.Emp1.apply_raise>,
              'fullname': <function __main__.Emp1.fullname>,
              'raise_amount': 1.04})